body {
    width: 100%;
}

nav {
    width: 100%;
    position: absolute;

}

.navbar-toggler {}


@media (max-width:750px) {
    .navbar-brand {
        padding-right: 50%;
        margin: auto;
    }

}